# LISTS AND TUPLES

In [1]:
collections = ['one', 'two', 'three', 'four']
len(collections)

4

In [3]:
collections[-1], collections[0]

('four', 'one')

In [5]:
collections[1:4:1]

['two', 'three', 'four']

In [6]:
for i in collections:
    print('learning {}'.format(i))

learning one
learning two
learning three
learning four

In [9]:
for idx, i in enumerate(collections):
    print('{} {}'.format(idx, i))

0 one
1 two
2 three
3 four

In [10]:
collections.append('order')

In [11]:
del collections[3]

In [12]:
print(collections)

['one', 'two', 'three', 'order']

In [13]:
collections.extend(['1', '2', '3'])

In [14]:
print(collections)

['one', 'two', 'three', 'order', '1', '2', '3']

In [19]:
numbers = ['1', '2', '3']
print('+'.join(numbers))

1+2+3

In [21]:
blink = ([], [])
blink[0].append(0)
blink

([0], [])

In [30]:
hash(tuple())

3527539

In [31]:
import random

numbers = []
numbers_size = random.randint(10,15)

for _ in range(numbers_size):
    numbers.append(random.randint(10,20))
    
print(numbers)

[17, 16, 19, 20, 15, 15, 10, 11, 14, 14]

In [38]:
numbers.sort()

half_size = len(numbers)//2
print(numbers)

if half_size%2 == 1:
    median = numbers[half_size]
else:
    median = sum(numbers[half_size -1 : half_size + 1])/2
    
print(median)

[10, 11, 14, 14, 15, 15, 16, 17, 19, 20]
15

In [41]:
import statistics 

statistics.median(numbers)

15.0